<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<canvas id="z80--screen" width=160 height=144 style="width: 320px; height:288px;"></canvas>
<pre id="z80--rominfo"></pre>
</body>
</html>